<h1>The <%= @operation %> of <%= @first %> and <%= @second %> is <%= @calculated_value%> </h1>

<h2>Save</h2>
<form action="/save" method="POST">
  <input type="hidden" name="subtotal" value="<%= @subtotal %>">

  <button type="submit">Save</button>
</form>